
.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-color: grey;
  gap: .1rem;
}

.cell {
  height: 2.5rem;
  width: 2.5rem;
}

.cell.alive {
  background-color: black;
}

.cell.dead {
  background-color: white;
}
