<head>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
</head>

<body>
    <div class="controls">
        <i
            hx-trigger="load"
            hx-get="/api/controls/play"
            hx-swap="outerHTML"
        ></i>
    </div>
    <div hx-trigger="load, every 1s" hx-get="/api/game"></div>
</body>
